@charset "UTF-8"
@import "compass/css3/transform"
@import "compass/css3/border-radius"
@import "helper"

/* $color:            #fff
/* $background_color: #111
$border_color:     #aaa
$board_color:      #fff
$piece_color:      #000
$last_point_color:  #ccffff
$last_point_color2: #f2f2f2

.nowrap
  white-space: nowrap

.white
  @include transform(rotate(180deg))

.pieces
  font-size: 11px

.kif-input-form
  margin: 0px
  padding: 0px
    
.board
  font-size: 18px
  margin: 0.8em auto
  border: 0px solid $border_color
  background: $border_color
  border-collapse: separate
  border-spacing: 1px
  td
    empty-cells: show
    color: $piece_color
    text-align: center
    width: 16px
    height: 16px
    background: $board_color
    &.last_point
      font-weight: bold
      background: $last_point_color
    &.last_point2
      background: $last_point_color2

  &.small
    td
