.white
  -moz-transform: rotate(180deg)

.board
  background: #aaa
  border-collapse: separate
  border-spacing: 1px
  font-size: 32px
  td
    min-width: 16px
    min-height: 16px
    background: white
    
