@import "compass/css3/transform"

.white
  @include transform(rotate(180deg))

.board
  background: #ccc
  border-collapse: separate
  border-spacing: 1px
  font-size: 12px
  td
    text-align: center
    min-width: 20px
    min-height: 14px
    background: white
    &.last_point
      font-weight: bold
